name: Check source for changes
on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  check_source_for_changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check for changes
        id: check
        run: echo "::set-output name=new_files::$(python3 ./.scripts/sync_original.py)"
      - name: Check if branch already exists
        if: steps.check.outputs.new_files != ''
        run: |
          git fetch
          if git branch -r | grep "sync-with-original"; then
            echo "::set-output name=branch_exists::1"
          else
            echo "::set-output name=branch_exists::0"
          fi
      - name: Open PR
        if: steps.check.outputs.new_files != '' && steps.branch_exists.outputs.branch_exists != '1'
        uses: peter-evans/create-pull-request@v4
        with:
          title: Sync with original
          body: |
            Sync with original
          labels: sync
          branch: sync-with-original
          branch-suffix: random
          commit-message: Sync with original
          delete-branch: true
          assignees: ${{ github.repository_owner }}
          draft: true
