name: Check source for changes
on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:
    inputs:
      dry_run:
        description: 'Dry run'
        required: false
        default: false
        type: boolean

permissions:
  contents: write
  pull-requests: write

jobs:
  check_source_for_changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check for changes
        id: check
        run: echo "new_files=$(python3 ./.scripts/sync_original.py)" >> $GITHUB_OUTPUT
      - name: Report
        run: |
          echo "New files:"
          echo "${{ steps.check.outputs.new_files }}"
      - name: Check if branch already exists
        if: steps.check.outputs.new_files != '' && steps.dry_run.outputs != 'true'
        run: |
          git fetch
          if git branch -r | grep -q "origin/sync-with-original"; then
            echo "::set-output name=branch_exists::1"
            exit 1
          fi
      - name: Open PR
        if: steps.check.outputs.new_files != '' && steps.branch_exists.outputs != '1' && steps.dry_run.outputs != 'true'
        uses: peter-evans/create-pull-request@v4
        with:
          title: Sync with original
          body: |
            Sync with original
            ${{ steps.check.outputs.new_files }}
          labels: sync
          branch: sync-with-original
          branch-suffix: random
          commit-message: Sync with original
          delete-branch: true
          assignees: ${{ github.repository_owner }}
          draft: true
