name: Check all temp data cleared
on:
  pull_request:
    branches:
      - master

jobs:
  check_no_temp_files_left:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check no temp files left
        run: |
          if [[ $(find .reference -type f -name "*.temp" -o -name "*.tmp" -o -name "*.md" | wc -l) -gt 0 ]]; then
            exit 1
          fi
      - name: Check CHANGES.md cleared
        run: |
          if [[ $(find -name "CHANGES.md" | wc -l) -gt 0 ]]; then
            exit 1
          fi
